--find-links https://pypi.org/project/gurobipy/ 
gurobipy
ipython
ipdb
jupyter
matplotlib
numpy<2
--find-links https://download.pytorch.org/whl/torch/
#torch
torch==1.12.1
torch-geometric
pytorch-lightning
pyvis
scipy
seaborn
scikit-learn
 --find-links https://download.pytorch.org/whl/torchvision/
torchvision==0.13.1
#torchvision
tqdm
