ipython
ipdb
jupyter
matplotlib
numpy<2
--find-links https://download.pytorch.org/whl/torch/
# torch
torch==1.12.1+cu113
--find-links=https://data.pyg.org/whl/torch-1.12.1%2Bcu113.html
torch-geometric==1.12.1
pytorch-lightning
pyvis
scipy
seaborn
scikit-learn
--find-links https://download.pytorch.org/whl/torchvision/
torchvision==0.13.1+cu113
# torchvision
tqdm
