--find-links https://pypi.org/project/gurobipy/ 
gurobipy
ipython
ipdb
jupyter
matplotlib
numpy<2
--find-links https://download.pytorch.org/whl/torch/
#torch
torch==1.12.1+cu113
torch-geometric
pandas==2.2.3
pytorch-lightning
pyvis
scipy
seaborn
setuptools<70.0.0
scikit-learn
 --find-links https://download.pytorch.org/whl/torchvision/
torchvision==0.13.1+cu113
#torchvision
tqdm

wandb==0.23.0